<div class="side-nav-content">
  <!-- <ul class="nav-list">
    <li class="nav-list-item">

      <span>
        <a href="#">Test1</a>
      </span>
    </li>
    <li class="nav-list-item">
      <span>
        <a href="#">Test2</a>
      </span>
    </li>
  </ul> -->

        <!-- ng for -->
        <div *ngFor="let menu of menus" class="nav-list">
          <div *ngIf="menu.menuOptions && menu.menuOptions.length">
              <div *ngFor="let parentOptions of menu.menuOptions">
                  <div *ngIf="parentOptions.enabled==true" class="nav-list-item">
                      <!-- <mat-expansion-panel> -->
                        <!-- <div class="dropdown mt-3"> -->
                        <a class="dropdown-toggle" data-bs-toggle="dropdown"
                        (click)="getComponentName(parentOptions.url)">
                          <span style-type="body-copy">{{parentOptions.text}}</span>
                        </a>


                          <ul class="dropdown-menu text-bg-dark" *ngIf="parentOptions.options && parentOptions.options.length">
                              <li *ngFor="let childOptions of parentOptions.options">
                                  <div *ngIf="childOptions.enabled==true">
                                    
                                      
                                        <a href="javascript:void (0)" [routerLink]="'sidenav/paydownconsent'"
                                        (click)="getComponentName(childOptions.url)">{{childOptions.text}}</a>
                                      
                                    
                                  </div>
                                </li>
                            </ul>
                      <!-- </mat-expansion-panel> -->
                    <!-- </div> -->
                  </div>
              </div>
          </div>
      </div>


</div>